#navbar-container {
  position: sticky;
  top: 0;
  z-index: 200;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-image: var(--color-background-gradient);
  padding: 20px 50px;
  min-width: max-content;
  width: 100%;
  max-width: 1920px;
}
.navbar-container {
  position: fixed;
  top: 0;
  transition: transform 0.3s ease-in-out;
}
.navbar-container.hidden {
  transform: translateY(-100%);
}
.navbar-container.visible {
  transform: translateY(0);
}
#nav-back {
  position: fixed;
  top: 150px;
}
#navbar-logo {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-secondary);
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  position: relative;
  top: 18px;
}
#navbar-links {
  width: 100%;
  /* gap: 20px; */
}
#navbar-links-logins {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  padding-bottom: 20px;
  margin-right: 30px;
}
#navbar-links-links {
  display: flex;
  gap: 42px;
  align-items: center;
  justify-content: flex-end;
}
.nav-link-logins {
  color: var(--color-secondary);
  font-size: 18px;
  cursor: pointer;
}
.nav-link-logins:hover {
  color: var(--color-primary);
}
.nav-link {
  text-decoration: none;
  color: var(--color-secondary);
  font-size: 24px;
  cursor: pointer;
}
.nav-link:hover {
  color: var(--color-primary);
  font-weight: 600;
}
#nav-icons-container {
  display: flex;
  gap: 10px;
  align-items: center;
}
#navbar-search-icon {
  width: 50px;
  cursor: pointer;
  background-color: var(--color-primary);
  border-radius: 50%;
  padding: 10px;
}
.navbar-requestDemo {
  background-color: var(--color-primary);
  color: white;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  padding-left: 25px;
  padding-right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 25px;
  min-width: 200px;
}
.navbar-tryItFree {
  background-color: var(--color-secondary);
  color: white;
  padding-inline: 20px;
  padding-block: 13px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 25px;
  min-width: 100px;
}
.navbar-tryForFree {
  background-color: var(--color-primary);
  color: white;
  padding-block: 13px;
  cursor: pointer;
  padding-inline: 25px;
  border-radius: 25px;
}
.navbar-requestDemo-text {
  font-size: 20px;
  font-weight: 300;
  font-style: light;
}
.navbar-requestDemo-icon {
  width: 30px;
}
.navbar-requestDemo-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 50%;
}
.drawer-request-demo {
  margin: 10px;
}
#navbar-profile-icon {
  width: 50px;
  background-color: var(--color-primary);
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}
#navbar-country-icon {
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}
#popup-nav-container {
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
  background-image: var(--color-background-gradient);
  max-height: 470px;
  width: max-content;
  max-width: 95vw; /* prevents overflow on small screens */
  overflow-x: auto;
  box-sizing: border-box;
}
.nav-inner-container {
  padding: 10px;
  cursor: pointer;
  max-width: 200px;
}
.nav-inner-heading {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
  max-width: 85%;
  padding: 10px;
  color: var(--color-text-gray-light);
  text-transform: uppercase;
}
.nav-title {
  font-size: 16px;
  font-weight: 600;
}
.nav-sub-title {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-text-gray);
}

.nav-inner-container:hover .nav-title {
  color: var(--color-primary);
}
.nav-inner-container:hover .nav-sub-title {
  color: var(--color-secondary);
}
#popup-nav-services-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
#popup-nav-products-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(7, 1fr);
  grid-auto-flow: column;
  height: 445px !important;
}
.services-heading {
  font-size: 12px;
  font-weight: 600;
  padding: 20px 10px;
  color: var(--color-text-gray);
}
#nav-menu-icon {
  display: none;
}
.nav-link-active {
  color: var(--color-primary);
  font-weight: 600;
}
#scroll-to-top {
  position: fixed;
  right: 50px;
  bottom: 100px;
}
#navbar-login {
  background-color: var(--color-primary);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  border-radius: 25px;
  padding-right: 20px;
  min-width: 121px;
}
#navbar-search-container {
  display: flex;
  align-items: center;
  height: 47px;
  border-radius: 25px;
  overflow: hidden;
}
#navbar-search-button {
  width: 45px;
  cursor: pointer;
  background-color: var(--color-primary);

  padding: 10px;
  height: 100%;
}
#navbar-search-input {
  height: 100%;
  border: none;

  padding-left: 20px;
  font-size: 16px;

  width: 0px;
  transition: width 0.3s ease-in-out;
}

#navbar-search-input:focus {
  outline: var(--color-primary) solid 1px;
}

@media (max-width: 1440px) {
  #navbar-links,
  #nav-icons-container {
    display: none;
  }
  #nav-menu-icon {
    display: inline;
    background-color: var(--color-primary);
    padding: 5px;
    border-radius: 25px;
    transform: scale(1.1);
    margin-left: 50px;
  }
  #nav-menu-drawer {
    z-index: 300;
  }
  #nav-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-menu-header-request {
    margin: 10px 30px;
  }
  #nav-drawer-close {
    margin-right: 30px;
    transform: scale(1.4);
  }
  .nav-menu-drawer-link {
    margin: 20px 50px;
    font-size: 22px;
  }
  #nav-menu-icons {
    display: flex;
    align-items: center;
    margin-left: 10px;
    column-gap: 10px;
  }
  .nav-menu-link {
    font-size: 20px;
    font-weight: 600;
    padding: 18px 15px;
  }
  .nav-menu-link.no-dropdown {
    border-top: 1px solid #e1e1e1;
    padding-top: 20px;
  }
}
#search-popup-container {
  min-width: 300px;
  max-width: 1000px;
  width: 1000px;
  overflow-y: hidden;
}
#search-popup-input {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #e1e1e1;
  background-color: white;
  height: 66px;
  margin: 22px 0;
  font-size: 24px;
  padding-inline: 20px;
}
#search-popup-input:focus {
  outline: none;
  border-color: var(--color-primary);
}
.search-popup-title {
  font-size: 24px;
  padding: 20px;
}
#search-popup-results-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 320px;
  font-size: 24px;
  padding-inline: 20px;
}
#search-popup-results-container::-webkit-scrollbar {
  width: 8px;
}
#search-popup-results-container::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 4px;
}
.search-popup-result {
  padding: 10px;
  cursor: pointer;
  background-color: #ffffff95;
  border-radius: 5px;
  margin: 10px 0;
  transition: background-color 0.2s ease;
}
.search-popup-result:hover {
  color: var(--color-primary);
}
#search-popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 25px;
  padding-bottom: 18px;
  border-bottom: 0.5px solid #e1e1e1;
}
#search-popup-close {
  cursor: pointer;
  font-size: 45px;
  font-weight: 300;
}
#search-popup-close:hover {
  color: var(--color-primary);
}
#search-popup-popular-list {
  display: flex;
  gap: 10px;
  padding: 0 20px;
}
.search-popup-popular-item {
  font-size: 24px;
  padding: 6px 24px;
  background-color: #f5f5f5;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 300;
  font-style: light;
}
#search-popup-recent-list {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 320px;
}
.search-popup-recent-item {
  font-size: 24px;
  cursor: pointer;
  font-weight: 300;
  font-style: light;
  margin-bottom: 20px;
}
#search-popup-header-text {
  font-size: 24px;
}
@media (max-width: 500px) {
  #nav-back {
    top: 25px;
    left: 3px;
  }
  #navbar-container {
    padding: 20px 35px;
  }
}
@media (max-width: 370px) {
  #nav-back {
    top: 25px;
    left: 3px;
  }
  #navbar-container {
    padding: 20px 18px;
  }
}
