#alert-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 2000;
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
}
#alert-message-container {
  width: 400px;
  height: fit-content;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#alert-message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#alert-message-close {
  cursor: pointer;
}
#alert-message-data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.alert-svg {
  width: 100px;
  height: 100px;
  margin: 30px 0;
}
.alert-success-svg {
  fill: var(--color-primary);
}
.alert-fail-svg {
  fill: red;
}
.alert-success-heading,
.alert-newsletter-heading {
  color: var(--color-primary);
}
.alert-fail-heading {
  color: red;
}
#alert-message-heading {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}
#alert-message-text {
  font-size: 16px;
  color: var(--color-text-gray);
  text-align: center;
  margin: 10px 0;
}
