#expo-page-header {
  display: flex;
}
#expo-page-close-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
}
#Expo-page-hero-container {
  background: linear-gradient(to bottom right, #007be3, #11b8d6);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
#expo-page-offer {
  background-color: #38a8e5;
  padding: 10px;
  color: white;
  border-radius: 25px;
  padding-inline: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
  font-size: 14px;
  opacity: 0.8;
}
#expo-page-heading {
  color: white;
  font-size: 38px;
  font-weight: bold;
}
#expo-page-sub-heading {
  color: white;
  font-size: 32px;
  font-weight: bold;
  background-color: #22a9df;
  padding: 10px;
  padding-inline: 20px;
  border-radius: 5px;
  margin-bottom: 25px;
}
#expo-page-text {
  color: white;
  max-width: 700px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
}
#expo-page-hero-cta-container {
  padding: 20px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: white;
  margin-bottom: 20px;
}
#expo-page-hero-cta-gradient {
  background: linear-gradient(to bottom right, #007be3, #11b8d6);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  opacity: 0.8;
}
#expo-page-hero-cta {
  background-color: #38a8e5;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #49b9e4;
  cursor: pointer;
  opacity: 0.8;
}
#expo-page-time-venue-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  opacity: 0.8;
}
.expo-page-time-venue {
  background-color: #27b4dc;
  padding: 20px;
  color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.expo-section {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.expo-section-heading {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}
.expo-section-text {
  font-size: 18px;
  color: rgb(131, 130, 130);
  text-align: center;
}
.expo-section-badge-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 0;
}
.expo-section-badge {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  display: flex;
  align-items: center;
}
.expo-section-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  margin: 30px 0;
}
.expo-section-card-1 {
  max-width: 400px;
  border: 1px solid lightgray;
  padding: 20px;
  border-radius: 10px;
}

.expo-section-card-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
.expo-section-card-text {
  line-height: 25px;
}
.force-fill-blue {
  fill: #017be3 !important;
}
.expo-section-card-1-image-bg {
  background-color: rgb(216, 245, 255);
  max-width: fit-content;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.expo-section-badge-blue {
  background-color: #007be3;
}
.expo-section-text-padding {
  padding-top: 20px;
}
.force-fill-white {
  fill: white;
}
.expo-section-card-2-image-bg {
  background: linear-gradient(to bottom right, #007be3, #11b8d6);
  max-width: fit-content;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  color: white;
  font-size: 18px;
}
#section-banner {
  background: linear-gradient(to bottom right, #007be3, #11b8d6);
  width: 80%;
  color: white;
  padding: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}
#section-banner-title {
  font-size: 18px;
  font-weight: bold;
}
#section-banner-cta {
  border: 0;
  background-color: white;
  border-radius: 10px;
  padding: 15px 30px;
  color: #007be3;
  font-weight: 600;
  cursor: pointer;
}
.expo-section-card-3 {
  max-width: 550px;
  border: 1px solid lightgray;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}
.expo-section-card-4 {
  max-width: 250px;
  border: 1px solid lightgray;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
  padding-top: 30px;
  text-align: center;
  margin: 30px 0;
}
.card-bg-rounded {
  padding: 9px 10px;
  border-radius: 25px;
  position: absolute;
  top: -25px;
}
#section-column-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  margin: 40px;
}
#before-column {
  background-color: #fffbfb;
  border: 1px solid #fceded;
}
#after-column {
  background-color: #fbfdfb;
  border: 1px solid #e0f1e6;
}
.section-column {
  padding: 40px;
  border-radius: 10px;
}
.fill-red {
  fill: red;
}
.fill-green {
  fill: green;
}
.section-column-item {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 30px;
}
.section-column-heading {
  font-size: 20px;
  font-weight: bold;
}

#expo-page-footer-title {
  font-size: 18px;
  font-weight: 700;
}
#expo-footer-contact-container {
  display: flex;
  column-gap: 50px;
  max-height: 50px;
}
.fill-black {
  width: 20px;
  fill: black;
}
.expo-footer-contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
#expo-page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.expo-footer-text {
  color: gray;
  font-size: 14px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  #expo-page-hero-container {
    padding: 10px;
  }
  #expo-page-heading {
    font-size: 28px;
  }
  #expo-page-sub-heading {
    font-size: 24px;
  }
  #expo-page-text {
    font-size: 16px;
  }
  .expo-section-card-container {
    flex-direction: column;
    align-items: center;
  }
  #section-column-container {
    flex-direction: column;
    margin: 20px;
  }
  #expo-footer-contact-container {
    display: flex;
    flex-direction: column;
    margin-block: 30px;
    align-items: center;
  }
  .expo-footer-contact-item {
    max-height: 50px;
  }
}
