.promo-description-text {
  font-size: 15px;
  color: #242424;
  line-height: 1.75;
  font-style: italic;
}
.scp-price-card-max-width {
  max-width: 300px;
  background-color: var(--color-secondary);
}
.eofy-terms-link {
  font-size: 15px;
  color: #242424;
  line-height: 1.75;
  font-style: italic;
  cursor: pointer;
  text-align: center;
  margin-bottom: 40px;
}
.eofy-terms-link:hover {
  text-decoration: underline;
}
