#details-data-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 150px 5%;
  flex-wrap: wrap;
}
#details-data-container-wrap-reverse {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 150px 10%;

  flex-wrap: wrap-reverse;
}
#details-data-image-collage {
  display: flex;
  align-items: center;
  gap: 25px;
}
#details-data-image-collage-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
#details-data-text-title {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -3%;

  margin-bottom: 30px;
}
#details-data-text-description {
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 180%;
  letter-spacing: 0%;

  color: var(--color-text-gray);
  margin-bottom: 10px;
}
#details-data-text-points {
  margin: 25px 0;
  font-size: 20px;
  color: var(--color-text-gray);
  font-family: "inter", sans-serif;
}
#details-data-text {
  max-width: 550px;
}
.text-align-right {
  text-align: right;
}
.details-data-image {
  max-width: 95%;
}
@media (max-width: 450px) {
  #details-data-container {
    overflow-x: hidden;
    padding-top: 80px;
    padding-bottom: 25px;
    margin: 0 7%;
    gap: 10px;
  }
  #details-data-image-collage {
    transform: scale(0.44);
    height: 200px;
  }
}
