#blog-container {
  /* padding-top: 110px; */
  min-height: 80vh;
}
#blog-heading {
  margin-top: 70px;
  margin-bottom: 70px;
}
#blog-category-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 20px 18%;
}
#blog-page-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  margin: 80px 15%;
}
.blog-page-card {
  cursor: pointer;
  max-width: 400px;
}
.blog-page-image {
  border-radius: 20px;
  margin-bottom: 20px;
  width: 100%;
  max-height: 220px;
  object-fit: cover;
}
.blog-page-title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
}
.blog-page-description {
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  color: var(--color-text-dark-gray);
}

.blog-card:hover .blog-title {
  color: var(--color-primary);
}

#category-text {
  font-size: 18px;
  font-weight: 500;
}
.category-filter {
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  padding: 5px 20px;
  border-radius: 3px;
  background-color: var(--color-background-light-gray);
  color: var(--color-text-dark-gray);
  transition: all 0.3s ease;
}
.blog-page-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 25px 0;
}
.active-filter {
  background-color: var(--color-primary);
  color: white;
}
#add-blog-button {
  background-color: var(--color-secondary);
  color: white;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
#blog-heading {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 50px;
}
#blog-text {
  font-size: 20px;
  max-width: 600px;
  margin-bottom: 100px;
}
@media (max-width: 1044px) {
  #blog-page-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 500px) {
  #blog-category-filters {
    gap: 1rem;
    margin: 20px 10%;
  }
  #blog-card-container {
    margin: 80px 2%;
  }
  .blog-image {
    transform: scale(0.9);
  }
  #blog-container {
    overflow-x: hidden;
  }
  #blog-page-card-container {
    margin: 80px 5%;
  }
}
