#selected-tool-heading {
  font-size: 32px;
  font-weight: 700;
  color: var(--color-alt-secondary);
  text-align: center;
  margin-bottom: 20px;
  line-height: 120%;
  text-wrap: wrap;
  max-width: 95%;
  font-family: "roboto", sans-serif;
}
#selected-tool-subheading {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  max-width: 900px;
  margin-bottom: 20px;
  line-height: 120%;
  font-family: "roboto", sans-serif;
}
#selected-tool-text {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  max-width: 1000px;
  color: var(--color-text-gray);
  margin-bottom: 50px;
  font-family: "inter", sans-serif;
}
#selected-tool-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 120px 0;
}

#selected-tool-data-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 100px;
  max-width: 100%;
  margin: 0 auto;
  justify-content: center;
}
.selected-dividerLine {
  position: relative;
  left: -10%;
}
.selected-tool-data {
  max-width: 500px;
  padding: 10px 10px;
  display: flex;
  column-gap: 20px;
}
.selected-tool-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  margin: 10px 0;
  font-family: "roboto", sans-serif;
}
.selected-tool-description {
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
  color: var(--color-text-gray2);
  max-width: 500px;
  margin-bottom: 20px;
  font-family: "inter", sans-serif;
}
.selected-tool-description-point-title {
  color: black;
}
.selected-tool-cta-link {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-primary);
  text-decoration: none;
  cursor: pointer;
}
.selected-tool-cta-link:hover {
  text-decoration: underline;
}
@media (max-width: 1000px) {
  .selected-tool-data {
    max-width: 450px;
    padding: 10px 60px;
  }
  .selected-tool-description {
    font-size: 24px;
    font-weight: 400;
    color: var(--color-text-gray);
    max-width: 300px;
  }
}
@media (max-width: 500px) {
  .selected-tool-data {
    padding: 10px 0;
    margin: 0 80px;
    overflow-x: hidden;
  }
  .selected-tool-description {
    max-width: 100%;
  }
  #selected-tool-container {
    overflow-x: hidden;
  }
}
