:root {
  overflow-x: hidden;
  max-width: 1920px;
  font-family: "Inter", sans-serif;

  --color-primary: #0c78ba;
  --color-primary-rgb: 12, 120, 186;
  --color-secondary: #002a52;
  --color-alt-secondary: #243b8c;
  --color-background-gradient: linear-gradient(to right, #f5fdfe, #f0f7fe);
  --color-text-gray: #676767;
  --color-text-gray2: #4d525f;
  --color-text-gray-light: #616161b4;
  --color-text-dark-gray: #343434;
  --color-background-light-gray: #eaeaea;
  --color-background-light-gray2: rgb(236, 236, 236);
  --color-background-gray: #f3f3f3;
  .heading {
    font-size: 22px;
    font-weight: 600;
    color: var(--color-primary);
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: "roboto", sans-serif;
    /* margin-top: 50px; */
  }
  .subheading {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin: 10px auto;
    font-family: "roboto", sans-serif;
  }
  .text {
    font-size: 20px;
    font-weight: 400;
    color: var(--color-text-gray);
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    font-family: "inter", sans-serif;
  }
  .dividerLine {
    width: 100%;
    height: 1px;
    background-color: var(--color-text-gray);
    margin: 20px 0;
  }
  .vertical-fade {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }
  .arrow-container {
    cursor: pointer;
    border-radius: 50%;
    padding: 6px;
    background-color: rgb(236, 236, 236);
    max-height: 42px;
    max-width: 42px;
  }
  .arrow-container:hover {
    background-color: var(--color-secondary);
  }
  .arrow-container:hover .arrow {
    fill: white;
  }
  .cta-button {
    padding: 13px 25px;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    background-color: var(--color-primary);
    max-width: fit-content;
  }
  .cta-button:hover {
    background-color: rgba(var(--color-primary-rgb), 0.9);
  }
  .hyper-link {
    text-decoration: none;
    color: var(--color-primary);
    cursor: pointer;
  }
  .hyper-link:hover {
    text-decoration: underline;
  }
}
body {
  margin: 0;
}
/* XS: Extra Small (<360px) */
@media (max-width: 359px) {
}

/* SM: Small Phones (360px – 599px) */
@media (min-width: 360px) and (max-width: 599px) {
}

/* MD: Tablets (600px – 899px) */
@media (min-width: 600px) and (max-width: 899px) {
}

/* LG: Tablets & Small Laptops (900px – 1279px) */
@media (min-width: 900px) and (max-width: 1279px) {
}

/* XL: Laptops & Desktops (1280px – 1919px) */
@media (min-width: 2000px) {
  :root {
    margin: 0 auto;
  }
}
