#trusted-clients-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  gap: 50px;
  margin: 0 138px;
}
#trusted-clients-header {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-primary);
  text-align: center;
  text-transform: uppercase;
}
.trusted-clients-heading {
  width: 300px;
  text-align: left !important;
  color: black !important;
}
.client-logo {
  width: 160px;
}
#client-logo-PV {
  font-size: 26px;
  font-weight: 600;
  max-width: 200px;
}
#trusted-clients-images-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}
.clients-swiper {
  width: fit-content;
  height: fit-content;
  margin-top: 20px;
}

.clients-slider-image {
  width: fit-content;
  max-width: 250px;
  height: 180px;
  padding: 0 15px;
  object-fit: contain;
}

.clients-slider-image:last-of-type {
  padding-left: 0;
  margin-left: 200px;
}
.inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 150px;
}

.wrapper {
  position: absolute;
  display: flex;
}

section {
  display: flex;
  animation: swipe var(--speed) linear infinite backwards;
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}

@keyframes swipe {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}

@media (max-width: 1300px) {
  .clients-slider-image:last-of-type {
    margin-left: 50px;
  }
  #trusted-clients-container {
    width: 88%;
  }
}

@media (max-width: 1100px) {
  .clients-slider-image:last-of-type {
    margin-left: 30px;
  }
  #trusted-clients-container {
    width: 85%;
    margin: 0 120px;
  }
}

@media (max-width: 880px) {
  #trusted-clients-container {
    flex-shrink: 1;
    width: 80%;
    margin: 0 100px;
  }
}
@media (max-width: 660px) {
  #trusted-clients-container {
    width: 90%;
    flex-shrink: 2;
    margin: 0 50px;
  }
}
@media (max-width: 640px) {
  #trusted-clients-container {
    flex-wrap: wrap;
    width: 95%;
    margin: 10px;
  }
}
