#details-hero-container {
  display: flex;
  min-height: 700px;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  /* padding-top: 110px; */
  background-color: var(--color-background-gray);
}
#details-hero-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 100px;
  max-width: 900px;
}
.details-hero-contents-product {
  align-items: center;
}
#details-hero-heading {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 25px;
  line-height: 50px;
  color: var(--color-secondary);
  font-family: "roboto", sans-serif;
}
.details-hero-heading-product {
  color: white !important;
}
.details-hero-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  font-style: normal;
  color: var(--color-text-gray);
  margin-bottom: 10px;
  margin-top: 20px;
  font-family: "inter", sans-serif;
}
.details-hero-text-product {
  color: white;
}
.details-hero-text-heading {
  color: black;
}
.details-hero-button {
  padding: 15px 15px;
  border-radius: 5px;
  border: 0;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
.hero-button-primary {
  background-color: var(--color-primary);
  color: white;
}
.hero-button-secondary {
  background-color: #cbcbcb;
}
#details-hero-buttons {
  display: flex;
  gap: 20px;
  margin: 50px 0;
}
#details-hero-image {
  max-width: 900px;
  height: 500px;
}
#details-hero-page-title {
  position: absolute;
  top: 25px;
  left: 150px;
  color: var(--color-primary);
  font-weight: 600;
}
.details-hero-button {
  color: white;
  background-color: var(--color-primary);
  max-width: fit-content;
}
.details-hero-text-description {
  font-size: 24px;
}
.details-hero-text-conclusion {
  margin-top: 0;
}
#details-product-bottom-image {
  position: relative;
  bottom: -50px;
  max-width: 95%;
  object-fit: cover;
}
@media (max-width: 1500px) {
  #details-hero-image {
    transform: scale(0.8);
  }
  #details-hero-contents {
    max-width: fit-content;
  }
}

@media (max-width: 1300px) {
  #details-hero-contents {
    padding: 100px;
  }
  #details-hero-image {
    transform: scale(0.8);
  }
  #details-hero-container {
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
  }
}
@media (max-width: 800px) {
  #details-hero-image {
    max-width: 95%;
  }
}
@media (max-width: 450px) {
  #details-hero-contents {
    padding: 30px;
  }
  #details-hero-image {
    max-width: 380px;
    transform: scale(1);
    object-fit: contain;
    height: 300px;
  }
  #details-hero-container {
    padding-top: 30px;
    flex-wrap: wrap;
  }
  #details-hero-container {
    overflow: hidden;
  }
  #details-hero-page-title {
    top: 25px;
    left: 40px;
  }
}
