.whitepaper-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 300px;
  cursor: pointer;
}
#whitepapers-text {
  max-width: 500px;
}
#whitepapers-item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 100px 0;
}
#whitepapers-page-container {
  /* padding-top: 110px; */
}